* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(gym2.jpg);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
}

header {
    background-color: #532525;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

.container p {
    font-size: 18px;
    line-height: 1.8;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
